@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Page */

body
{
    font-family: "Raleway", sans-serif;
    margin: 0px;
    
}

.bloc_page
{
    padding: 2em;
}

.Hebergment_container, .popular_container, footer
{
    background-color: #F2F2F2 ;
}

.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9
{
    background-color: white;
}

.fa-star.gris
{
    color: #F2F2F2;
}