@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

/* Page */

body
{
    font-family: "Raleway", sans-serif;
    margin: 0px;
    padding: 0;
    
}

.bloc_page
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 0 0 0;
}

.popular_container, footer
{
    background-color: #F2F2F2 ;
}

a
{
    text-decoration: none;
    color: #333;

}

a:visited
{
    text-decoration: none;
    color: #333;
}

.fa-star.gris
{
    color: #F2F2F2;
}

.fa-star
{
    color: #0065FC;
}

/* Header */

.header{
    padding: 0;
    margin: 0;
}

.signin
{
    font-weight: bold;
    position: absolute;
    top: 2.5em;
    right: 1.5em;
}

.signin a
{
    color: #0065FC;
}

.signin a:visited
{
    text-decoration: none;
    color: #0065FC;
}

header li
{
    list-style: none;
    
}

.Navigate
{
    margin-top: 10px;   
    display: block;
}

.Navigate img
{
    height: 50px;
    padding-top: 8px;
}

ol
{
    display: flex;
    padding-top: 1em;
    padding-left: 0em;
    padding-bottom: 0.5em;
}

.Navigate li
{
    width: 50%;
}

.Navigate a
{
    font-size: 1.3em;
}

nav
{
    width: 100%;
}

.logo
{
    margin-left: 1em;
}
.location{
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #F2F2F2;
    padding-bottom: 0.6em;
}

.activites{
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #F2F2F2;
    padding-bottom: 0.6em;
}

.location:hover{
    border-bottom: 3px solid #0065FC;
    color: #0065FC;
    padding-bottom: 0.6em;
}

.activites:hover{
    border-bottom: 3px solid #0065FC;
    color: #0065FC;
    padding-bottom: 0.6em;
}

/* Recherche */

.second_part
{
    padding: 1em 0 0 0;
    margin-left: 0.5em;
}

.second_part p
{
    margin-top: 10px;
    margin-bottom: 30px;
}

h1
{
    font-size: 1.4em;
    margin-bottom: 0px;
}

.recherche
{
    display: flex;
    height: 40px;
}

.fas.fa-map-marker-alt
{
    padding: 0.8em;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#MaRecherche2
{
    height: 40px;
    border: none;
}

.search
{
    background-color: #0065FC;
    font-size: 1.1em;
    cursor: pointer;
    height: 40px;
    width: 50px;
    border: 1px #0065FC solid;
    border-radius: 15px;
}

.Marseille1
{
    display: none;
}

.Marseille2
{
    border: 1px #F2F2F2 solid;
    border-right: none;
}

.fas.fa-search
{
    color: white;
}

::placeholder
{
    font-size: 1.2em;
    color: black;
    opacity: 1;
    font-weight: bold;
}

input
{
    padding-left: 15px;
}

/* Filtres */

.third_part
{
    margin-left: 1em;
    padding: 1em 0 0 0;
    
}

h2
{
    font-size: 1.2em;
}

.Fliter_container
{
    display: flex;
    padding: 0;
}

.pictogrammes
{
    display: flex;
    padding-top: 0.5em;
    flex-wrap: wrap;
}

.Button_filter
{
    display: flex;
    margin: 0px 1.5em 10px 0em;
    border-top: 2px #F2F2F2 solid;
    border-bottom: 2px #F2F2F2 solid;
    border-right: 2px #F2F2F2 solid;
    border-radius: 60px;
    height: 40px;
    align-items: center;
}

.Button_filter:hover
{
    transform: scale(1.15);
    background-color: #F2F2F2;
}

.Button_filter h2
{
    padding-left: 20px;
    padding-right: 20px;
}

.Button_filter i
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    padding: 0.8em;
    border-radius: 30px;
    border-color: #DEEBFF;
    background-color:#DEEBFF;
    color: #0065FC;
}

.Button_info
{
    padding-top: 1em;
    display: flex;
    align-items: baseline;
    margin-left: 1em;
}

.Button_info i
{
    color: #0065FC;
    border: 2px #F2F2F2 solid;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.Button_info p
{
    padding-left: 1.2em;
    padding-bottom: 2em;
    flex-wrap: wrap;
}

/* Les plus populaires */

.all_hebergment
{
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
}

.popular_container
{
    height: 42em;
    width: 100%;
}

.boxp
{
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 145px;
    margin: 1em 1em 1em 1em;
    border-radius: 15px;
    border: 4px white solid;
    box-shadow: 4px 4px 6px #aaa;
    position: relative;
}

.boxp img
{
    height: 9em;
    width: 9em;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.boxp a
{
    display: flex;
}

.container_box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_box2
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular_container h3
{
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 1.3em;
}

.popular_container p
{
    margin-top: 10px;
}

.menu_hotel
{
    margin-top: 00.5em;
    margin-left: 1em;
}

.pop
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.3em;
}

.boxp h3{
    font-size: 0.9em;
}

.boxp .Star{
    display: flex;
    margin-top: 1em;
    margin-left: .1em;
}


/* Hébergements */

.Hebergment_container
{
    width: 100%;
    height: 98em;
    border-radius: 15px;
    position: relative;
}

.first_ligne
{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

.second_ligne
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
}


.box
{
    background-color: white;
    width: 90%;
    border-radius: 15px;
    border: 4px white solid;
    box-shadow: 4px 4px 6px #aaa;
    margin: 0em 1em 1em 1em;
}


.box img
{
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.box h3
{
    margin-left: 0.8em;
    margin-bottom: 4px;
    margin-top: 4px;
}

.Hebergment_container p 
{
    margin-left: 1em;
    margin-top: 8px;
    margin-bottom: 8px;
}

.Star 
{
    margin-left: 1em;
}

.Hebergment_container h2
{
    padding-top: 1em;
    padding-left: 1em;
    font-size: 1.3em;
}

.more 
{
    font-weight: bold;
    padding-top: 0em;
    position: absolute;
    left: 0em;
    top: 95em;
}

/* Activités */

.Activity_container h2
{
    margin-top: 2.5em;
    margin-left: 1em;
    font-size: 1.4em;
}

.Activity_container
{
    padding-bottom: 2em;
    width: 100%;
}

.Activity_flex
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column1 .column2
{
    display: flex;
    flex-direction: column;
}

.TallBox img
{
    width: 100%; 
    height: 130px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.LittleBox1 img
{
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.LittleBox2 img
{
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.LittleBox3 img
{
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.LittleBox4 img
{
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.TallBox
{
    width: 90%;
    padding-bottom: 0em;
    margin-bottom: 1em;
    border-radius: 15px;
    box-shadow: 4px 4px 6px #aaa;
}

.column1
{
    width: 90%;
    margin-left: 3em;
    margin-right: 3em;
}

.column2
{
    width: 90%;
    margin-left: 3em;
    margin-right: 3em;
}

.LittleBox1
{
    margin-bottom: 1em;
    border-radius: 15px;
    box-shadow: 4px 4px 6px #aaa;
}

.LittleBox2
{
    border-radius: 15px;
    box-shadow: 4px 4px 6px #aaa; 
}

.LittleBox3
{
    margin-bottom: 1em;
    border-radius: 15px;
    box-shadow: 4px 4px 6px #aaa;
}

.LittleBox4
{
    border-radius: 15px;
    box-shadow: 4px 4px 6px #aaa; 
}

.column1 h3, .column2 h3
{
    padding-bottom: 1em; 
    margin-left: 1em;
}

.TallBox h3
{
    margin-left: 1em;
}

.LittleBox1:hover, .LittleBox2:hover, .LittleBox3:hover, .LittleBox4:hover, .TallBox:hover
{
    transform: scale(1.05);
}

/* Footer */

footer
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer li
{
    list-style: none;
    line-height: 2;
}

footer h4
{
    font-weight: bold;
    margin-bottom: 0.4em;
}

footer ul
{
    padding-top: 1em;
}