@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

/* Page */

body
{
    font-family: "Raleway", sans-serif;
    margin: 0px;
    
}

.bloc_page
{
    padding-top: 0.5em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.popular_container, footer
{
    background-color: #F2F2F2 ;
}

a
{
    text-decoration: none;
    color: #333;

}

a:visited
{
    text-decoration: none;
    color: #333;
}

.fa-star.gris
{
    color: #F2F2F2;
}

.fa-star
{
    color: #0065FC;
}

/* Header */

.signin
{
    align-items: center;
    font-weight: bold;
    position: absolute;
    top: 2.5em;
    right: 1.5em;
}

.signin a
{
    color: #0065FC;
}

.signin a:visited
{
    text-decoration: none;
    color: #0065FC;
}

header li
{
    list-style: none;
    padding-left: 40px;
}

.Navigate
{
    justify-content: space-between;
    margin-top: 10px;   
    display: block;
    
}

.Navigate img
{
    height: 50px;
    padding-top: 8px;
}

.menu
{
    width: 100%;
    display: flex;
}

ol
{
    display: flex;
    padding-top: 1em;
    padding-left: 0em;
    padding-bottom: 0.5em;
    border-bottom: 3px #F2F2F2 solid;
}

.Navigate li
{
    width: 50%;
}

.Navigate a
{
    font-size: 1.3em;
}

nav
{
    width: 100%;
}

ol a:hover
{
    width: 50%;
    padding-bottom: 0.4em;
    color: #0065FC;
    border-bottom: 3px solid #0065FC;
}

.logo
{
    margin-left: 1em;
}

/* Recherche */

.second_part
{
    padding-top: 1em;
    padding-left: 1em;
}

.second_part p
{
    margin-top: 10px;
    margin-bottom: 30px;
}

h1
{
    font-size: 1.4em;
    margin-bottom: 0px;
}

.recherche
{
    display: flex;
    height: 40px;
}

.fas.fa-map-marker-alt
{
    padding: 0.8em;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#MaRecherche
{
    height: 40px;
    width: 240px;
    border: none;
}

.search
{
    background-color: #0065FC;
    font-size: 1.1em;
    cursor: pointer;
    height: 40px;
    width: 50px;
    border: 1px #0065FC solid;
    border-radius: 15px;
}

.Marseille1
{
    display: none;
}

.Marseille2
{
    border: 1px #F2F2F2 solid;
    border-right: none;
}


.fas.fa-search
{
    color: white;
}

::placeholder
{
    font-size: 1.2em;
    color: black;
    opacity: 1;
    font-weight: bold;
}

input
{
    padding-left: 15px;
}
