@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Page */

body
{
    font-family: "Raleway", sans-serif;
    margin: 0px;
    
}

.bloc_page
{
    padding: 2em;
}

.Hebergment_container, .popular_container, footer
{
    background-color: #F2F2F2 ;
}

.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9
{
    background-color: white;
}

.fa-star.gris
{
    color: #F2F2F2;
}

.fa-star
{
    color: #0065FC;
}

a
{
    text-decoration: none;

}

a:visited
{
    text-decoration: none;
    color: #333;
}

.signin
{
    color: #0065FC;
}

.signin a:visited
{
    text-decoration: none;
    color: #0065FC;
}

.search
{
    background-color: #0065FC;
    color: white;
    cursor: pointer;
}

.fas.fa-search
{
    color: white;
}

.Button_filter i, .Button_info i
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    padding: 0.8em;
    border-radius: 30px;
    background-color:#DEEBFF;
    color: #0065FC;
}

li
{
    list-style: none;
}

.Navigate
{
    display: flex;
    justify-content: space-between;
}

.menu
{
    display: flex;
    justify-content: flex-end;
    align-items: baseline ;
}

nav ul
{
    display: flex;

}

