@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

/* Page */

body
{
    font-family: "Raleway", sans-serif;
    margin: 0px;
    
}

.bloc_page
{
    padding-top: 0.5em;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.Hebergment_container, .popular_container, footer
{
    background-color: #F2F2F2 ;
}

a
{
    text-decoration: none;
    color: #333;

}

a:visited
{
    text-decoration: none;
    color: #333;
}

/* header */

.signin
{
    padding-left: 40px;
    padding-bottom: 11px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.signin a
{
    color: #0065FC;
}

.signin a:visited
{
    text-decoration: none;
    color: #0065FC;
}

header li
{
    list-style: none;
    padding-left: 40px;
}

.Navigate
{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;   
}

.Navigate img
{
    height: 50px;
    padding-top: 8px;
}

.menu
{
    display: flex;
}

ol
{
    display: flex;
    align-items: center;
}

nav a
{
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
}

nav a:hover
{
    color: #0065FC;
    border-top: 7px solid #0065FC;
}

/* Recherche */

.second_part
{
    padding-top: 1em;
}

.second_part p
{
    margin-top: 0px;
}

h1
{
    font-size: 1.4em;
    margin-bottom: 0px;
}

.recherche
{
    display: flex;
    height: 40px;
}

.fas.fa-map-marker-alt
{
    padding: 0.8em;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#MaRecherche
{
    height: 40px;
    width: 240px;
    border: 1px #F2F2F2 solid;
}
.search
{
    background-color: #0065FC;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    height: 40px;
    width: 140px;
    border: 1px #0065FC solid;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.fas.fa-search
{
    color: white;
}

::placeholder
{
    font-size: 1.2em;
    color: black;
    opacity: 1;
    font-weight: bold;
    padding-left: 15px;
}

/* Filtres */

.third_part
{
    padding-top: 1em;
    display: flex;
    align-items: baseline;
}

h2
{
    font-size: 1.2em;
}

.Fliter_container
{
    display: flex;
}

.pictogrammes
{
    display: flex;
    padding-top: 0.8em;
    padding-left: 2em;
}

.Button_filter
{
    display: flex;
    padding-right: 1em;
    margin-right: 1.5em;
    border-top: 2px #F2F2F2 solid;
    border-bottom: 2px #F2F2F2 solid;
    border-right: 2px #F2F2F2 solid;
    border-radius: 60px;
    height: 40px;
    align-items: center;
}

.Button_filter:hover
{
    transform: scale(1.15);
    background-color: #F2F2F2;
}

.Button_filter h2
{
    padding-left: 20px;
    padding-right: 20px;
}

.Button_filter i
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    padding: 0.8em;
    border-radius: 30px;
    border-color: #DEEBFF;
    background-color:#DEEBFF;
    color: #0065FC;
}

.Button_info
{
    padding-top: 1em;
    display: flex;
    align-items: baseline;
}

.Button_info i
{
    color: #0065FC;
    border: 2px #F2F2F2 solid;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.Button_info p
{
    padding-left: 1em;
    padding-bottom: 2em;
}

/* Hébergements */

.Hebergment_container
{
    width: 67%;
    height: 40em;
    border-radius: 15px;
    margin-right: 1em;
}

.first_ligne
{
    display: flex;
    justify-content: space-around;
    margin: 1em 2em 1em 2em;
    
    
}

.second_ligne
{
    display: flex;
    justify-content: space-around;
    margin: 2em 2em 2em 2em;
   
}


.box
{
    background-color: white;
    width: 33%;
    border-radius: 15px;
    border: 4px white solid;
    box-shadow: 4px 4px 6px #aaa;
    margin: 0em 1em 0em 1em;
}

.box:hover
{
    transform: scale(1.10);
}

.box img
{
    width: 100%;
    height: 7.8em;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
   

.fa-star.gris
{
    color: #F2F2F2;
}

.fa-star
{
    color: #0065FC;
}

.box h3
{
    margin-left: 0.8em;
    margin-bottom: 4px;
    margin-top: 4px;
}

.Hebergment_container p 
{
    margin-left: 1em;
    margin-top: 8px;
    margin-bottom: 8px;
}

.Star 
{
    margin-left: 1em;
}

.Hebergment_container h2
{
    padding-top: 1em;
    padding-left: 2.7em;
}

.more 
{
    font-weight: bold;
    padding-top: 0em;
    padding-left: 1.5em;
}

/* Les plus populaires */

.all_hebergment
{
    display: flex;
    justify-content: space-between;
}

.popular_container
{
    height: 40em;
    width: 33%;
    border-radius: 15px;
}

.popular_container .Star
{
    margin-left: 0px;
}

.boxp
{
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 145px;
    margin: 0em 2em 2em 2em;
    border-radius: 15px;
    border: 4px white solid;
    box-shadow: 4px 4px 6px #aaa;
}

.boxp img
{
    height: 9em;
    width: 8em;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.popular_container .container_box
{
    margin-top: 0.7em;
}

.pop
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 1.5em;
    padding-left: 2.7em;
    padding-right: 2.7em;
}

.boxp a
{
    display: flex;
}

.menu_hotel
{
    margin-left: 1.5em;
    width: 50%;
}

.popular_container h3
{
    margin-bottom: 0px;
    margin-top: 10px;
}

.popular_container p
{
    margin-top: 10px;
    margin-bottom: 1.5em;
}

.boxp:hover
{
    transform: scale(1.10);
}

/* Activités */

.Activity_container h2
{
    margin-top: 2.5em;
}

.Activity_container
{
    padding-bottom: 2em;
}

.Activity_flex
{
    display: flex;
}

.column1 .column2
{
    display: flex;
    flex-direction: column;
}

.TallBox img
{
    width: 100%; 
    height: 29em;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.LittleBox1 img
{
    width: 100%;
    height: 14em;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.LittleBox2 img
{
    width: 100%;
    height: 9em;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.LittleBox3 img
{
    width: 100%;
    height: 11.5em;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.LittleBox4 img
{
    width: 100%;
    height: 11.5em;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.TallBox
{
    width: 25%;
    height: 33em;
    padding-bottom: 0em;
    border-radius: 15px;
    box-shadow: 4px 4px 6px #aaa;
}

.column1
{
    width: 25%;
    margin-left: 3em;
    margin-right: 3em;
}

.column2
{
    width: 25%;
    margin-left: 3em;
}

.LittleBox1
{
    margin-bottom: 2em;
    border-radius: 15px;
    box-shadow: 4px 4px 6px #aaa;
}

.LittleBox2
{
    border-radius: 15px;
    box-shadow: 4px 4px 6px #aaa; 
}

.LittleBox3
{
    margin-bottom: 2em;
    border-radius: 15px;
    box-shadow: 4px 4px 6px #aaa;
}

.LittleBox4
{
    border-radius: 15px;
    box-shadow: 4px 4px 6px #aaa; 
}

.column1 h3, .column2 h3
{
    padding-bottom: 1em; 
    margin-left: 1em;
}

.TallBox h3
{
    margin-left: 1em;
}

.LittleBox1:hover, .LittleBox2:hover, .LittleBox3:hover, .LittleBox4:hover, .TallBox:hover
{
    transform: scale(1.05);
}

/* Footer */

footer
{
    display: flex;
    justify-content: space-between;
    padding-right: 22em;
}

footer li
{
    list-style: none;
    line-height: 2;
}

footer h4
{
    font-weight: bold;
    margin-bottom: 0.4em;
}

footer ul
{
    padding-top: 1em;
}


